/* Global Variables */
:root {
    --color1: #ededed;
    --color2: #64c1cf;
    --color3: #b1c3c1;
    --color4: #bd9ac8;
    --color5: #6d87b5;
    --color6: #00acb5;
    --color7: #dbd3b1;
    --color8: #ffffff;
    --color9: #edf2f2;
    --color10: #4d5972;
}

/* Reset Default Settings */
* {
    box-sizing: border-box;
    margin: 0;
}

bodyinfo {
    background-color: var(--color1);
    min-height: 100vh;
    padding: 85px 0 calc(85px + 70px / 2);
    font-family: 'Oswald', sans-serif;

    /* Flex */
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerinfo {
    /* Flex */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Figure */
.figure:nth-of-type(2) {
    margin-left: 35px;
    margin-top: 70px;
}

/* Path */
.figure__path {
    /* Flex */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.figure__pathStart {
    width: 22px;
    height: 22px;
    border: solid 4px var(--color1);
    outline: solid 3.5px;
    border-radius: 50%;
    position: relative;
}

.figure__pathPoint {
    background-color: var(--color10);
    width: 9px;
    height: 9px;
    margin-top: 16px;
    border-radius: 50%;
}

.figure__pathPoint:last-of-type {
    margin-bottom: 16px;
}

.figure__path:last-of-type .figure__pathPoint {
    display: none;
}

/* Product */
.figure__product {
    width: 350px;
    height: 150px;
    padding: 0 20px;
    border-radius: 1000px;

    /* Position */
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);

    /* Flex */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.figure__product::before {
    width: 0;
    height: 0;
    border: solid 15px;
    border-color: transparent transparent transparent var(--color2);

    content: '';
    position: absolute;
    right: calc(-2 * 15px + 2px);
    top: 50%;
    transform: translateY(-50%);
}

.figure__path:nth-of-type(2) .figure__product::before {
    border-color: transparent transparent transparent var(--color3);
}

.figure__path:nth-of-type(3) .figure__product::before {
    border-color: transparent transparent transparent var(--color4);
}

/* Product - Right */
.figure__product--right {
    left: 50px;
    flex-direction: row-reverse;
}

.figure__product--right::before {
    border-color: transparent var(--color5) transparent transparent;
    left: calc(-2 * 15px + 2px);
}

.figure__path:nth-of-type(2) .figure__product--right::before {
    border-color: transparent var(--color6) transparent transparent;
}

.figure__path:nth-of-type(3) .figure__product--right::before {
    border-color: transparent var(--color7) transparent transparent;
}

.figure__productContent {
    padding: 10px 0;

    /* Flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.figure__productName {
    color: var(--color8);
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: 500;
}

.figure__productDesc {
    color: var(--color8);
    max-width: 140px;
    font-size: 10px;
    font-weight: 400;
}

.figure__productIconBox {
    background-color: var(--color9);
    width: 95px;
    height: 95px;
    padding: 15px;
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 10px 13px 27px -5px, rgba(0, 0, 0, 0.3) 10px 8px 16px -8px;

    /* Flex */
    display: flex;
    justify-content: center;
    align-items: center;
}

.figure__product--right .figure__productIconBox {
    box-shadow: rgba(50, 50, 93, 0.25) -10px 13px 27px -5px, rgba(0, 0, 0, 0.3) -10px 8px 16px -8px;
}

.figure__productIcon {
    width: 60px;
    height: 60px;
}